Repository KomodoPlatform/komodo-defi-framework, pull requests merged in 2025-10, with the labels that each got.

#2618 fix(evm-swapv2): no mempool inclusion required for maker payment validation
  mm2src/coins/eth/eth_swap_v2/eth_maker_swap_v2.rs
  mm2src/coins/eth/eth_swap_v2/eth_taker_swap_v2.rs
  mm2src/coins/eth/eth_swap_v2/mod.rs
  mm2src/coins/eth/nft_swap_v2/mod.rs
Labels: priority: high, bug: swap, 2.6.0-beta

#2629 fix(zcoin): exact-anchor witnesses in wasm get_spendable_notes
  mm2src/coins/lightning/ln_sql.rs
  mm2src/coins/nft/storage/mod.rs
  mm2src/coins/z_coin/storage/walletdb/wasm/storage.rs
  mm2src/mm2_bitcoin/keys/src/segwitaddress.rs
  mm2src/mm2_main/src/lp_ordermatch/simple_market_maker.rs
  mm2src/mm2_main/src/lp_stats.rs
  mm2src/mm2_test_helpers/src/for_tests.rs
Labels: 2.6.0-beta, deploy: wasm-playground

#2632 fix(metrics): remove memory_db size metric
  Cargo.lock
  Cargo.toml
  LEGAL/THIRDPARTY-LICENSES
  mm2src/mm2_main/Cargo.toml
  mm2src/mm2_main/src/lp_ordermatch.rs
Labels: status: pending review, 2.5.2-beta

#2628 feat(ci): add macos universal2 build
  .github/workflows/dev-build.yml
  .github/workflows/release-build.yml
Labels: status: pending review, improvement: CI, 2.5.2-beta

#2641 chore(ci): bump CI container image to debian bullseye-slim to match dev
  .docker/Dockerfile.ci-container
  CHANGELOG.md
Labels: status: pending review, 2.5.2-beta

#2600 fix(TPU): correct dexfee in check balance to prevent swap failures
  mm2src/coins/eth.rs
  mm2src/coins/eth/maker_swap_v2_abi.json
  mm2src/coins/eth/nft_maker_swap_v2_abi.json
  mm2src/coins/eth/nft_swap_contract_abi.json
  mm2src/coins/eth/taker_swap_v2_abi.json
  mm2src/mm2_main/src/lp_swap/taker_swap_v2.rs
  mm2src/mm2_main/tests/docker_tests/docker_tests_common.rs
  mm2src/mm2_main/tests/docker_tests/docker_tests_inner.rs
  mm2src/mm2_main/tests/docker_tests/eth_docker_tests.rs
  mm2src/mm2_test_helpers/contract_bytes/maker_swap_v2_bytes
  mm2src/mm2_test_helpers/contract_bytes/nft_maker_swap_v2_bytes
  mm2src/mm2_test_helpers/contract_bytes/taker_swap_v2_bytes
  mm2src/mm2_test_helpers/src/for_tests.rs
Labels: priority: high, bug: swap, 2.6.0-beta
