Repository KomodoPlatform/komodo-defi-framework, pull requests merged in 2025-09, with the labels that each got.

#2612 improvement(RPC): make `params` payload flexible for certain RPCs
  mm2src/coins/eth/eth_tests.rs
  mm2src/coins/rpc_command/get_enabled_coins.rs
  mm2src/mm2_main/src/lp_init/init_hw.rs
  mm2src/mm2_main/src/rpc/wc_commands/sessions.rs
  mm2src/mm2_main/tests/mm2_tests/mm2_tests_inner.rs
  mm2src/rpc_task/src/task.rs
Labels: status: pending review, status: pending test, improvement: RPC

#2533 feat(eth): improve gas fee policy code
  mm2src/coins/coin_errors.rs
  mm2src/coins/eth.rs
  mm2src/coins/eth/eth_swap_v2/eth_maker_swap_v2.rs
  mm2src/coins/eth/eth_swap_v2/eth_taker_swap_v2.rs
  mm2src/coins/eth/eth_tests.rs
  mm2src/coins/eth/eth_utils.rs
  mm2src/coins/eth/eth_withdraw.rs
  mm2src/coins/eth/fee_estimation/eip1559/block_native.rs
  mm2src/coins/eth/fee_estimation/eip1559/mod.rs
  mm2src/coins/eth/fee_estimation/eip1559/simple.rs
  mm2src/coins/eth/for_tests.rs
  mm2src/coins/eth/nft_swap_v2/mod.rs
  mm2src/coins/eth/v2_activation.rs
  mm2src/coins/eth/wallet_connect.rs
  mm2src/coins/lp_coins.rs
  mm2src/coins/nft.rs
  mm2src/coins/qrc20.rs
  mm2src/coins/qrc20/qrc20_tests.rs
  mm2src/coins/qrc20/swap.rs
  mm2src/coins/rpc_command/get_new_address.rs
  mm2src/coins/rpc_command/hd_account_balance_rpc_error.rs
  mm2src/coins/rpc_command/init_create_account.rs
  mm2src/coins/utxo/bch.rs
  mm2src/coins/utxo/qtum.rs
  mm2src/coins/utxo/slp.rs
  mm2src/coins/utxo/utxo_standard.rs
  mm2src/coins/utxo/utxo_tests.rs
  mm2src/coins_activation/src/token.rs
  mm2src/mm2_main/src/lp_swap/check_balance.rs
  mm2src/mm2_main/src/lp_swap/trade_preimage.rs
  mm2src/mm2_main/src/rpc/dispatcher/dispatcher.rs
  mm2src/mm2_main/src/rpc/lp_commands/one_inch/rpcs.rs
  mm2src/mm2_main/src/rpc/lp_commands/tokens.rs
  mm2src/mm2_main/tests/docker_tests/docker_tests_common.rs
  mm2src/mm2_main/tests/docker_tests/eth_docker_tests.rs
  mm2src/mm2_main/tests/docker_tests/qrc20_tests.rs
Labels: priority: medium, breaking-change: RPC, status: pending docs

#2605 fix(orderbook): validate roots before commit
  .github/workflows/test.yml
  mm2src/mm2_main/Cargo.toml
  mm2src/mm2_main/src/lp_ordermatch.rs
  mm2src/mm2_main/src/ordermatch_tests.rs
  mm2src/mm2_main/tests/feature_gate_for_tests.rs
  mm2src/mm2_main/tests/mm2_tests/mm2_tests_inner.rs
  mm2src/mm2_main/tests/mm2_tests_main.rs
Labels: status: pending review
